* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
[class*="square"] {
    width: 100px;
    height: 100px;
    background-color: hsl(208, 79%, 64%);
    padding: 10px;
    border-radius: 10px;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
}
